SERVER_PORT=3056
NEYROX_KEY='blablablabla'

DB_HOST='db'
DB_PORT=5432
DB_LOGIN='medsenger'
DB_PASSWORD='blablabla'
DB_DATABASE='neyrox-medsenger-bot'

SENTRY_DSN=''

# Public base URL of this agent (must include the scheme). Form action URLs on
# the settings page are built from this, so POSTs work when the page is embedded
# in an iframe on another site. In prod use the real host, e.g.
# https://neyrox.ai.medsenger.ru
HOST='http://localhost:3056'

NEYROX_API_HOST='https://adm.neyrox.com'
FETCH_SLEEP_DURATION_MIN=15
