SERVER_PORT=3056
NEYROX_KEY='blablablabla'

DB_HOST='db'
DB_PORT=5432
DB_LOGIN='medsenger'
DB_PASSWORD='blablabla'
DB_DATABASE='neyrox-medsenger-bot'

SENTRY_DSN=''

HOST='localhost'

NEYROX_API_HOST='https://adm.neyrox.com'
FETCH_SLEEP_DURATION_MIN=15
